/*@font-face {
    font-family: 'PT Sans';
    src: url('PT_Sans-Web-Regular.eot');
    src: local('PT Sans'), local('P T Sans'),
        url('PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),
        url('PT_Sans-Web-Regular.woff2') format('woff2'),
        url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype'),
        url('PTSans-Regular.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('PT_Sans-Web-Bold.eot');
    src: local('PT_Sans-Web-Bold.eot'), local('PT Sans Bold'),
        url('PT_Sans-Web-Bold.eot') format('embedded-opentype'),
        url('PT_Sans-Web-Bold.woff2') format('woff2'),
        url('PTSans-Bold.woff') format('woff'),
        url('PTSans-Bold.ttf') format('truetype'),
        url('PTSans-Bold.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal
}*/

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

img {
    max-width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

body {
    width: 1280px;
    height: 1000px;
    outline: 1px solid black;
     margin: 0 auto;
    padding-top: 20px;
}

.main-wrapper {
    width: 1200px;
    margin: 0 auto;
}


/*            HEADER             */
.header {
    width: 100%;
    position: relative;
}

.logo-link {
    display: block;
    width: 140px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 530px;
    z-index: 2;
}

.main-navigation {
    display: inline-block;
    width: 100%;
}

.navigation-list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.list-item {
    list-style: none;
}

.list-item a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    width: 239px;
    text-align: center;
    padding: 15px 0px;
    background-color: #ffffff;
}

.list-item a:hover, .list-item a:focus {
    color: #81b3d2;
}

.list-item a:active {
    color: #000000;
    opacity: 0.3;
}

.list-item:nth-child(2) {
    margin-right: auto;
} 

.list-item:nth-child(3) {
    margin-left: auto;
}

.list-item_active a {
    color: #766357;
}
/*           END HEADER             */


/*            MAIN CONTENT          */

.main-content {
    width: 100%;
    
}

.intro-img {
    width: 100%;
    height: 508px;
    overflow: hidden;
}

.intro-img img {
    transform: translateY(-56px);
}



/*            MAIN CONTENT          */
















































